{% extends "dynoquiz/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Available Quizes</h1>
        </div>
    </div>

    <div ng-app="index" class="row">
        <div  ng-controller="QuizCtrl" class="col-lg-6">
        <!--{% if quiz_list %}
            <div class="list-group">
                {% for quiz in quiz_list %}
                    <a href="{% url 'dynoquiz:quiz_detail' quiz.id %}" class="list-group-item">
                        <h3 class="list-group-item-heading"> {{ quiz.quiz_name}} </h3>
                        <p class="list-group-item-text">{{ quiz.quiz_details }} </p>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>No quizes available.</p>
        {% endif %}
            <a href="{% url 'dynoquiz:new_quiz' %}" class="btn btn-primary"}>Create Quiz</a>
        -->

            <!-- List Current Quizes reverse order -->
            <div ng-repeat="quiz in quizes"  class="row">
                <div class="list-group">
                    <a href="{[{quiz.id}]}" class="list-group-item">
                        <h3 class="list-group-item-heading"> {[{quiz.quiz_name}]}</h3>
                        <p class="list-group-item-text">{[{quiz.quiz_details}]}</p>
                    </a>
                    <button type="button" class="btn btn-info btn-md">Edit</button>
                    <button ng-click="deleteQuiz(quiz.id)" type="button" class="btn btn-danger btn-sm">Delete</button>

                </div> <!--End List Group -->
            </div> <!-- End Row -->

        </div>

        <!-- Angular Generated List -->
        <div ng-controller="QuizCtrl" class="col-lg-6">
            <div>
                <button ng-click="toggleCreateQuiz()" type="button" class="btn btn-primary btn-lg btn-block">Create Quiz</button>
            </div>

            <!-- Create New Quiz -->
            <div ng-show="createQuizFields" id="create-new-quiz" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="quiz-title">Quiz Title</label>
                        <input ng-model="quizName" type="text" class="form-control" id="quiz-title" placeholder="Quiz Title">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="quiz-description">Quiz Description</label>
                        <textarea ng-model="quizDetails" class="form-control" placeholder="Quiz Discription" rows="3"></textarea>
                    </div>
                </div> 

                 <div class="form-group">
                    <div class="col-sm-12">
                        <button ng-click="addQuiz()" type="button" class="btn btn-primary">Create</button> 
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}