{% extends "dynoquiz/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>{{quiz.quiz_name}}</h1>
        {% if quiz.question_set.all %}
        <ol>
            {% for question in quiz.question_set.all %}
                <li>{{question.question_text }}</li>
                {% for choice in question.choice_set.all %}
                    <div class="radio">
                        <label><input type="radio">{{choice.choice_text}}</label>
                    </div>
                {% endfor %}
            {% endfor %}
        </ol>
        {% else %}
                <p>No questions for this quiz.</p>
        {% endif %}
    {% endblock %}
    </div>
</div>

