{% extends "dynoquiz/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>{{quiz.quiz_name}}</h1>
        <p>{{quiz.quiz_detail}}
            <a href="{% url 'dynoquiz:new_question' quiz.id %}" class="btn btn-primary">Add Question</a>
        </p>

        <!-- Catch missed questions -->
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            <p><strong>{{error_message}}</strong></p>
        </div>
        {% endif %}

        <form action="{% url 'dynoquiz:vote' quiz.id %}" method="post">
            {% csrf_token %}
            {% if quiz.question_set.all %}
            <ol>
                {% for question in quiz.question_set.all %}
                    <li>{{question.question_text }}</li>
                    {% for choice in question.choice_set.all %}
                        <div class="radio">
                            <label><input type="radio" name="question{{question.id}}" id="choice{{choice.id}}" value="{{choice.id}}">{{choice.choice_text}} Votes: {{choice.votes}}</label>
                        </div>
                    {% endfor %}
                {% endfor %}
            </ol>
            {% else %}
                    <p>No questions for this quiz.</p>
            {% endif %}

            <input type="submit" value="Vote" class="btn btn-primary" />
        </form>

    </div>
</div>

{% endblock %}

